html {
  font-size: 62.5%;
  background-color: #FAF9F6;
  overflow: hidden;
}

body {
  width: 90vw;
  margin: 0 auto;
}

/* mobile */

h1 {
  color: #002A53;
  font-family: "space mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px auto;
}

p, section, footer {
  font-family: "montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section, footer {
  background-color: #78CDD7;
  color: #002A53;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px auto;
  box-sizing: border-box;
  width: 100%;
}

button {
  box-shadow: rgb(108 112 116 / 44%) 0px 8px 24px; 
  border-radius: 5px;
  padding: 20px;
  font-size: 1.3rem;
  background-color: #FAF9F6;
  border: none;
  color: #0D5C63;
  cursor: pointer;
  transition: background-color .2s, color .2s;
  margin: 5px auto;
  width: 100%;
}

 button:hover {
  box-shadow: #78CDD7 0px 8px 24px;
  background-color: #002A53;
  color: #FAF9F6;
  transform: scale(0.9); 
}

.fa-laptop-medical {
  color: #002A53;
  font-size: 2.5rem;
  padding: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.intro {
  margin: 0 auto;
}

.line-1 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #247B7B;
}

.anim-typewriter{
  animation: typewriter 2s steps(18) 1s 1 normal both,
             blinkTextCursor 500ms steps(2) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 342px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #247B7B;}
  to{border-right-color: transparent;}
}

form > span {
  padding: 15px;
}

form > button {
  box-shadow: #78CDD7 0px 8px 24px;
  width: 100%;
}

form > button:hover {
  transform: scale(0.9);
  background-color: #002A53;
  color: #FAF9F6;
  box-shadow: #78CDD7 0px 8px 24px;
  width: 100%;

}

#waitingRoomList {
  margin: 20px auto;
  text-align: center;
  display: inline-block;
  background-color: #FAF9F6;
  color: #002A53;
}

#waitingRoomList > li{
  padding: 10px;
  font-size: 1.8rem;
  margin: 0 auto;
  background-color: #FAF9F6;
  color:#002A53;
}

h2 {
  font-size: 2rem;
}

#covid-widget {
  position: relative; 
  max-width: 100%; 
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#covid-widget-inside {
  position: absolute; 
  border: 2px solid #015eb8;
}

/* bigger screens */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  button, section {
    font-size: 2rem;
  }

  .column {
    /* width: 60vw; */
    margin: 0 auto;
  }

  section {
    width: 100%;
    margin: 20px auto;
  }

  body {
    width: 60vw;
  }

  #covid-widget {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

}